all

*.o

*/e
e

*/lex.yy.cc
lex.yy.cc

*/lex.yy.c
lex.yy.c

*/parser.tab.c
parser.tab.c

*/parser.tab.h
parser.tab.h

*/compiler
compiler

*/bison.c
bison.c

*/bison.h
bison.h

*/*_teste_
*_teste_

*/*programa.tm
*programa.tm

*.tm
*/*.tm

tm
